*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/Boqiyev\ Jumanazar_diplom.png);
    background-size: 100% 100%;
}
div img{
    height: 20vh;
    position: absolute;
    right: 57vw;
    bottom: 6vh;
}