*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{margin: auto;
    width: 1340px;
    height: 630px;
    background-image: url(./img/diploma.png);
    background-size: 100% 100%;
}
